<div class="w-full flex flex-col px-4 lg:px-6 space-y-6">
    <div class="w-full flex flex-col space-y-4 mt-6 md:mt-4">
        <span class="font-bold text-2xl">Thông tin cơ bản</span>
        <div class="w-full flex flex-row">
            <div class="w-full h-8 border border-gray-custom flex items-center justify-center cursor-pointer"
                [ngClass]="realEstatePost.sell ? 'bg-gray-custom' : 'bg-white'" (click)="changeIsSell(true)">
                <span>Bán</span>
            </div>
            <div class="w-full h-8 border border-gray-custom flex items-center justify-center cursor-pointer"
                [ngClass]="!realEstatePost.sell ? 'bg-gray-custom' : 'bg-white'" (click)="changeIsSell(false)">
                <span>Cho thuê</span>
            </div>
        </div>
        <div class="flex flex-col w-full">
            <label class="text-sm">Loại bất động sản</label>
            <p-dropdown [options]="realEstateTypes" [style]="{'width': '100%'}" optionLabel="value" optionValue="key"
                [(ngModel)]="realEstatePost.type" autoWidth="false" [disabled]="isUpdate"></p-dropdown>
        </div>
        <div class="flex flex-col w-full space-y-4 lg:space-y-0 lg:flex-row lg:space-x-4">
            <div class="flex flex-col w-full">
                <label for="provinceCode" class="text-sm">Tỉnh/Thành phố</label>
                <p-dropdown [options]="provinces" [(ngModel)]="realEstatePost.province.code" [style]="{'width': '100%'}"
                    optionLabel="fullName" (ngModelChange)="getDistrictsInProvince()" optionValue="code" [filter]="true"
                    filterBy="fullName" autoWidth="false" [disabled]="isUpdate"></p-dropdown>
            </div>
            <div class="flex flex-col w-full">
                <label for="districtCode" class="text-sm">Quận/Huyện/Thị xã</label>
                <p-dropdown [options]="districts" [(ngModel)]="realEstatePost.district.code" [style]="{'width': '100%'}"
                    optionLabel="fullName" [disabled]="realEstatePost.province.code.length <= 0"
                    (ngModelChange)="getWardsInDistrict()" optionValue="code" [filter]="true"
                    filterBy="fullName" [disabled]="isUpdate"></p-dropdown>
            </div>
        </div>
        <div class="flex flex-col w-full space-y-4 lg:space-y-0 lg:flex-row lg:space-x-4">
            <div class="flex flex-col w-full">
                <label for="wardCode" class="text-sm">Xã/Phường/Thị trấn</label>
                <p-dropdown [options]="wards" [(ngModel)]="realEstatePost.ward.code" [style]="{'width': '100%'}"
                    optionLabel="fullName" [disabled]="realEstatePost.district.code.length <= 0" optionValue="code"
                    [filter]="true" filterBy="fullName" [disabled]="isUpdate"></p-dropdown>
            </div>
            <div class="flex flex-col w-full">
                <label for="street" class="text-sm">Đường</label>
                <input id="street" pInputText class="w-full" placeholder="Nhập tên đường"
                    [(ngModel)]="realEstatePost.street">
            </div>
        </div>
        <div class="flex flex-col w-full">
            <label for="addressShow" class="text-sm">Địa chỉ hiển thị trên bài đăng</label>
            <input id="addressShow" pInputText class="w-full" [(ngModel)]="realEstatePost.addressShow"
                placeholder="Nhập địa chỉ hiển thị trên bài đăng">
        </div>
    </div>
    <div class="w-full flex flex-col space-y-4 mt-4">
        <span class="font-bold text-2xl">Thông tin bài viết</span>
        <div class="flex flex-col w-full">
            <label for="title" class="text-sm">Tiêu đề</label>
            <input id="title" pInputText class="w-full" [(ngModel)]="realEstatePost.title"
                placeholder="Nhập tiêu đề bài đăng">
        </div>
        <div class="flex flex-col w-full">
            <label for="description" class="text-sm">Mô tả</label>
            <textarea id="description" rows="5" cols="30" pInputTextarea [(ngModel)]="realEstatePost.description"
                placeholder="Nhập mô tả cho bài đăng"></textarea>
        </div>
        <div class="w-full flex flex-row space-x-4">
            <div class="flex flex-col w-full">
                <label for="direction" class="text-sm">Độ ưu tiên</label>
                <p-dropdown [options]="priorities" [(ngModel)]="realEstatePost.priority" [style]="{'width': '100%'}"
                    (ngModelChange)="calcPayVal()" optionLabel="value" optionValue="key"
                    [disabled]="checkPriorityAndPeriod() || isUpdate"></p-dropdown>
            </div>
            <div class="flex flex-col w-full">
                <label for="direction" class="text-sm">Thời gian tồn tại</label>
                <p-dropdown [options]="periods" [(ngModel)]="realEstatePost.period" [style]="{'width': '100%'}"
                    (ngModelChange)="calcPayVal()" optionLabel="value" optionValue="key"
                    [disabled]="checkPriorityAndPeriod() || isUpdate"></p-dropdown>
            </div>
        </div>
        <div class="w-full" *ngIf="!check()">
            <span class="text-lg font-bold">
                {{'Số tiền khách hàng phải trả là: '}}
            </span>
            <span class="text-lg font-bold">
                {{ payValue | currency:'VND' }}
            </span>
        </div>
        <div class="italic text-sm">*Lưu ý: Với người dùng đã đăng ký tài khoản môi giới khi đăng bài trong khu vực mình
            đã đăng ký sẽ không phải trả phí đăng bài và bài đăng sẽ có độ ưu tiên cao nhất, và bài đăng sẽ có thời hạn trong 365 ngày. 
            Nếu đăng bài ngoài khu vực đăng ký sẽ bị tính phí đăng bài như người dùng thông thường.</div>
    </div>
    <div class="w-full flex flex-col space-y-4 mt-4">
        <span class="font-bold text-2xl">Thông tin bất động sản</span>
        <div class="flex flex-col w-full space-y-4 lg:space-y-0 lg:flex-row lg:space-x-4">
            <div class="flex flex-col w-full">
                <label for="area" class="text-sm">Diện tích (m2)</label>
                <p-inputNumber id="area" class="w-full" placeholder="Nhập diện tích: m2" inputId="integeronly"
                    [(ngModel)]="realEstatePost.area"></p-inputNumber>
            </div>
            <div class="flex flex-col w-full">
                <label for="price" class="text-sm">{{ realEstatePost.sell ? 'Giá (tỷ VNĐ)' : 'Giá (triệu VNĐ)'
                    }}</label>
                <p-inputNumber id="price" class="w-full" [(ngModel)]="realEstatePost.price" inputId="minmaxfraction"
                    mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2"
                    [placeholder]="realEstatePost.sell ? 'Nhập giá: tỷ VNĐ' : 'Nhập giá: triệu VNĐ'">
                </p-inputNumber>
            </div>
            <div class="flex flex-col w-full">
                <label for="direction" class="text-sm">Hướng</label>
                <p-dropdown [options]="directions" [(ngModel)]="realEstatePost.direction" [style]="{'width': '100%'}"
                    optionLabel="value" optionValue="key"></p-dropdown>
            </div>
        </div>
        <div class="flex flex-col w-full space-y-4 lg:space-y-0 lg:flex-row lg:space-x-4" *ngIf="isPlot()">
            <div class="flex flex-col w-full">
                <label for="frontWidth" class="text-sm">Mặt tiền (m)</label>
                <p-inputNumber id="frontWidth" class="w-full" [(ngModel)]="plot.frontWidth" inputId="minmaxfraction"
                    mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="1"
                    placeholder="Nhập chiều dài mặt tiền: m"></p-inputNumber>
            </div>
            <div class="flex flex-col w-full">
                <label for="behindWidth" class="text-sm">Mặt hậu (m)</label>
                <p-inputNumber id="behindWidth" class="w-full" [(ngModel)]="plot.behindWidth" inputId="minmaxfraction"
                    mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="1"
                    placeholder="Nhập chiều dài mặt hậu: m"></p-inputNumber>
            </div>
        </div>
        <div class="flex flex-col w-full space-y-4" *ngIf="isApartment()">
            <div class="flex flex-col w-full space-y-4 lg:space-y-0 lg:flex-row lg:space-x-4">
                <div class="flex flex-col w-full">
                    <label for="floorNo" class="text-sm">Tầng số</label>
                    <p-inputNumber id="floorNo" class="w-full" [(ngModel)]="apartment.floorNo" inputId="integeronly"
                        placeholder="BĐS ở tầng số?"></p-inputNumber>
                </div>
                <div class="flex flex-col w-full">
                    <label for="noBedroom" class="text-sm">Số phòng ngủ</label>
                    <p-inputNumber id="noBedroom" class="w-full" [(ngModel)]="apartment.noBedroom" inputId="integeronly"
                        placeholder="Nhập số phòng ngủ"></p-inputNumber>
                </div>
                <div class="flex flex-col w-full">
                    <label for="noBathroom" class="text-sm">Số phòng tắm</label>
                    <p-inputNumber id="noBathroom" class="w-full" [(ngModel)]="apartment.noBathroom"
                        inputId="integeronly" placeholder="Nhập số phòng tắm"></p-inputNumber>
                </div>
                <div class="flex flex-col w-full">
                    <label for="balconyDirection" class="text-sm">Hướng ban công</label>
                    <p-dropdown [options]="directions" [(ngModel)]="apartment.balconyDirection"
                        [style]="{'width': '100%'}" optionLabel="value" optionValue="key"></p-dropdown>
                </div>
            </div>
            <div class="flex flex-col w-full">
                <label for="furniture" class="text-sm">Thông tin nội thất</label>
                <input id="furniture" pInputText class="w-full" [(ngModel)]="apartment.furniture"
                    placeholder="Nhập thông tin nội thất">
            </div>
            <div class="flex flex-col w-full">
                <label for="construction" class="text-sm">Thông tin kiến trúc</label>
                <input id="construction" pInputText class="w-full" [(ngModel)]="apartment.construction"
                    placeholder="Nhập thông tin kiến trúc">
            </div>
        </div>
        <div class="flex flex-col w-full space-y-4" *ngIf="isHouse()">
            <div class="flex flex-col w-full space-y-4 lg:space-y-0 lg:flex-row lg:space-x-4">
                <div class="flex flex-col w-full">
                    <label for="noFloor" class="text-sm">Số tầng</label>
                    <p-inputNumber id="noFloor" inputId="integeronly" class="w-full" [(ngModel)]="house.noFloor"
                        placeholder="Nhập số tầng"></p-inputNumber>
                </div>
                <div class="flex flex-col w-full">
                    <label for="noBedroom" class="text-sm">Số phòng ngủ</label>
                    <p-inputNumber id="noBedroom" class="w-full" inputId="integeronly" [(ngModel)]="house.noBedroom"
                        placeholder="Nhập số phòng ngủ"></p-inputNumber>
                </div>
                <div class="flex flex-col w-full">
                    <label for="noBathroom" class="text-sm">Số phòng tắm</label>
                    <p-inputNumber id="noBathroom" class="w-full" inputId="integeronly" [(ngModel)]="house.noBathroom"
                        placeholder="Nhập số phòng tắm"></p-inputNumber>
                </div>
                <div class="flex flex-col w-full">
                    <label for="balconyDirection" class="text-sm">Hướng ban công</label>
                    <p-dropdown [options]="directions" [(ngModel)]="house.balconyDirection" [style]="{'width': '100%'}"
                        optionLabel="value" optionValue="key"></p-dropdown>
                </div>
            </div>
            <div class="flex flex-col w-full">
                <label for="furniture" class="text-sm">Thông tin nội thất</label>
                <input id="furniture" pInputText class="w-full" [(ngModel)]="house.furniture"
                    placeholder="Nhập thông tin nội thất">
            </div>
            <div class="flex flex-col w-full space-y-4 lg:space-y-0 lg:flex-row lg:space-x-4">
                <div class="flex flex-col w-full">
                    <label for="frontWidth" class="text-sm">Mặt tiền (m)</label>
                    <p-inputNumber id="frontWidth" [(ngModel)]="house.frontWidth" mode="decimal"
                        inputId="minmaxfraction" [minFractionDigits]="1" [maxFractionDigits]="1"
                        placeholder="Nhập chiều dài mặt tiền: m"></p-inputNumber>
                </div>
                <div class="flex flex-col w-full">
                    <label for="behindWidth" class="text-sm">Mặt hậu (m)</label>
                    <p-inputNumber id="behindWidth" class="w-full" [(ngModel)]="house.behindWidth" mode="decimal"
                        inputId="minmaxfraction" [minFractionDigits]="1" [maxFractionDigits]="1"
                        placeholder="Nhập chiều dài mặt hậu: m"></p-inputNumber>
                </div>
                <div class="flex flex-col w-full">
                    <label for="streetWidth" class="text-sm">Chiều rộng đường trước nhà (m)</label>
                    <p-inputNumber id="streetWidth" class="w-full" [(ngModel)]="house.streetWidth" mode="decimal"
                        inputId="minmaxfraction" [minFractionDigits]="1" [maxFractionDigits]="1"
                        placeholder="Nhập chiều rộng đường trước nhà: m"></p-inputNumber>
                </div>
            </div>
        </div>
        <span class="italic text-sm">Vị trí của bất động sản được lấy trực tiếp tại vị trí của người đăng bài.
            Chính vì thế, lưu ý khi đăng bài cần đứng tại nơi đăng bài và đảm bảo cho phép ứng dụng quyền được lấy vị
            trí.</span>
    </div>
    <div class="w-full flex flex-col space-y-4 mt-4">
        <div class="flex flex-row justify-between items-center w-full">
            <span class="font-bold text-2xl">Ảnh bất động sản</span>
            <div>
                <label for="uploadImage" class="cursor-pointer">
                    <i class="pi pi-cloud-upload" style="font-size: 2rem;"></i>
                </label>
                <input type="file" name="uploadImage" accept="image/png, image/gif, image/jpeg" id="uploadImage"
                    [hidden]="true" (change)="onFileSelected($event)" [multiple]="true">
            </div>
        </div>
        <div class="w-full flex flex-col">
            <span class="text-base">*Quy định về chọn ảnh:</span>
            <span class="text-sm italic">- Ảnh có kích thước tối đa 16MB.</span>
            <span class="text-sm italic">- Số lượng ảnh tối thiểu là 2 và tối đa 6 ảnh.</span>
        </div>
        <div class="w-full flex flex-col md:flex-row md:space-x-2 space-y-2 md:space-y-0">
            <!-- <div class="w-full border border-gray-custom h-6 flex flex-row justify-between items-center" 
                *ngFor="let item of selectedFileNames">
                <span>{{ item }}</span>
                <i class="pi pi-times" (click)="removeImage(item)"></i>
            </div> -->
            <span class="text-lg font-bold">{{ 'Đã có ' + selectedFileNames.length + ' ảnh được chọn.' }}</span>
        </div>
    </div>
    <div class="w-full flex flex-col space-y-4 mt-4 pb-4 lg:justify-end">
        <button pButton pRipple [label]="isUpdate ? 'Cập nhật' : 'Đăng bài'" (click)="savePost()"></button>
    </div>
</div>