<p-confirmDialog [style]="{width: innerWidth > 640 ? '50vw' : '100vh'}"></p-confirmDialog>
<div class="w-full flex flex-col px-4 lg:px-6 space-y-6">
    <span class="text-xl font-bold">Danh sách tài khoản</span>
    <p-table
        [value]="users"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="{first} đến {last} trên {totalRecords} bản ghi"
    >
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn>#</th>
                <th>Tên người dùng</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Vai trò</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-index="rowIndex">
            <tr>
                <th>
                    <span class="text-sm font-normal">
                        {{ index + 1 }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ user.firstName + ' ' + user.middleName + ' ' + user.lastName }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ user.email }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ user.phoneNumber }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ genRole(user.roles) }}
                    </span>
                </th>
                <th>
                    <p-tag [value]="user.enable ? 'Đang hoạt động' : 'Đã khóa'" 
                        [severity]="user.enable ? 'success' : 'warning'"></p-tag>
                </th>
                <th>
                    <div class="flex flex-row justify-end">
                        <button pButton pRipple pTooltip="Xem thông tin chi tiết"
                            class="p-button-rounded p-button-text p-button-info" icon="pi pi-eye"
                            (click)="selectedUser=user;viewInfoDetail()"></button>
                        <button pButton pRipple pTooltip="Khóa/Mở khóa tài khoản"
                            class="p-button-rounded p-button-text p-button-danger" icon="pi pi-lock"
                            (click)="selectedUser=user;lockOrUnLock()"></button>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td>Không có dữ liệu.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Thông tin tài khoản" [(visible)]="displayUserDetail" [style]="{width: innerWidth <= 640 ? '100vw' : '50vw'}" 
    [baseZIndex]="100" [modal]="true">
    <div class="w-full flex flex-col px-4 lg:px-6 space-y-6">
        <div class="flex flex-col w-full space-y-4">
            <div class="flex w-full justify-center items-center">
                <img [src]="avatarUrlRetrive" class="w-32 h-32 rounded-[50%] align-middle">
            </div>
            <div class="flex flex-row items-center space-x-2">
                <span class="text-lg font-semibold">Mã người dùng:</span>
                <span class="text-base font-medium">{{ user.id }}</span>
            </div>
            <div class="flex flex-row items-center space-x-2">
                <span class="text-lg font-semibold">{{ !isEnterprise() ? 'Họ và tên: ' : 'Tên doanh nghiệp: '}}</span>
                <span class="text-base font-medium">{{ user.firstName + ' ' + user.middleName + ' ' + user.lastName }}</span>
            </div>
            <div class="flex flex-row items-center space-x-2">
                <span class="text-lg font-semibold">Tên đăng nhập:</span>
                <span class="text-base font-medium break-all">{{ user.username }}</span>
            </div>
            <div class="flex flex-row items-center space-x-2">
                <span class="text-lg font-semibold">Email:</span>
                <span class="text-base font-medium">{{ user.email }}</span>
            </div>
            <div class="flex flex-row items-center space-x-2" *ngIf="!isEnterprise()">
                <span class="text-lg font-semibold">Số CMND/CCCD:</span>
                <span class="text-base font-medium">{{ user.identification ? user.identification : 'Không xác định' }}</span>
            </div>
            <div class="flex flex-row items-center space-x-2" *ngIf="!isEnterprise()">
                <span class="text-lg font-semibold">Giới tính:</span>
                <span class="text-base font-medium">{{ genderOutcome() }}</span>
            </div>
            <div class="flex flex-row items-center space-x-2">
                <span class="text-lg font-semibold">Địa chỉ:</span>
                <span class="text-base font-medium">{{ addressOutcome() }}</span>
            </div>
            <div class="flex flex-row items-center space-x-2">
                <span class="text-lg font-semibold">Số điện thoại:</span>
                <span class="text-base font-medium">{{ user.phoneNumber ? user.phoneNumber : 'Không xác định' }}</span>
            </div>
            <div class="flex flex-row items-center space-x-2">
                <span class="text-lg font-semibold">Số dư tài khoản:</span>
                <span class="text-base font-medium">{{ user.accountBalance | currency:'VND' }}</span>
            </div>
            <div class="flex flex-row items-center space-x-2" *ngIf="!isEnterprise()">
                <span class="text-lg font-semibold">Ngày sinh:</span>
                <span class="text-base font-medium">{{ user.dateOfBirth ? (user.dateOfBirth | date:'dd/MM/yyyy') : 'Không xác định' }}</span>
            </div>
        </div>
    </div>
</p-dialog>