<p-confirmDialog [style]="{width: innerWidth > 640 ? '50vw' : '100vh'}"></p-confirmDialog>
<div class="w-full flex flex-col px-4 lg:px-6 space-y-6">
    <div class="flex flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0 mt-6 md:mt-4">
        <p-card header="Tổng số tiền người dùng đã nạp" class="w-full">
            <span class="text-xl font-bold">{{ totalCharge | currency:'VND' }}</span>
        </p-card>
        <p-card header="Tổng số tiền thanh toán đăng bài" class="w-full">
            <span class="text-xl font-bold">{{ totalPostPaid | currency:'VND' }}</span>
        </p-card>
        <p-card header="Tổng số tiền thanh toán định kỳ" class="w-full">
            <span class="text-xl font-bold">{{ totalMonthlyPaid | currency:'VND' }}</span>
        </p-card>
    </div>
    <div class="flex flex-col w-full space-y-4">
        <span class="font-bold text-2xl">Danh sách nạp tiền</span>
        <p-table
            #tbl1
            [value]="charges"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="{first} đến {last} trên {totalRecords} bản ghi"
            [showCurrentPageReport]="true"
            [globalFilterFields]="['user.firstName', 'user.middleName', 'user.lastName', 'chargeType']"
        >
            <ng-template pTemplate="caption">
                <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:justify-end md:space-x-4">
                    <p-dropdown [options]="lstChargeDropdown" (onChange)="filterByStatus()" class="w-full md:w-auto"
                        [(ngModel)]="selectedStatus" optionLabel="value"></p-dropdown>
                    <span class="p-input-icon-left ml-auto w-full md:w-auto">
                        <i class="pi pi-search"></i>
                        <input #inputFilter pInputText type="text" (input)="tbl1.filterGlobal(inputFilter.value, 'contains')" 
                            placeholder="Nhập tên người dùng..." class="w-full md:w-auto"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pFrozenColumn>#</th>
                    <th pSortableColumn="soTien">Số tiền nạp <p-sortIcon field="soTien"></p-sortIcon></th>
                    <th>Tên người nạp</th>
                    <th pSortableColumn="createAt">Thời điểm <p-sortIcon field="createAt"></p-sortIcon></th>
                    <th>Hình thức</th>
                    <th>Ảnh minh chứng</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-charge let-index="rowIndex">
                <tr>
                    <th>
                        <span class="text-sm font-normal">
                            {{ index + 1}}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ charge.soTien | currency:'VND' }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ charge.user.firstName + ' ' + charge.user.middleName + ' ' + charge.user.lastName }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ charge.createAt | formatDate  }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ charge.chargeType == 'VNPAY' ? 'Vnpay' : 'Chuyển khoản' }}
                        </span>
                    </th>
                    <th>
                        <p-image [src]="charge.src" [preview]="true" [imageStyle]="{'height': '100px'}">
                            <ng-template pTemplate="indicator">
                                <i class="pi pi-check"></i>
                            </ng-template>
                        </p-image>
                    </th>
                    <th>
                        <p-tag [value]="getStatusValue(charge.status)" [severity]="getStatusSeverity(charge.status)"></p-tag>
                    </th>
                    <th>
                        <button pButton pRipple type="button" icon="pi pi-pencil" 
                            *ngIf="charge.chargeType === 'TRANSFER_CHARGE' && charge.status === 'CHO_XAC_NHAN'"
                            (click)="onRowEditClick(charge)" class="p-button-rounded p-button-text"></button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>Không có dữ liệu.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex flex-col w-full space-y-4">
        <span class="font-bold text-2xl">Danh sách thanh toán bài đăng</span>
        <p-table
            [value]="postPaids"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="{first} đến {last} trên {totalRecords} bản ghi"
            [showCurrentPageReport]="true"
            [globalFilterFields]="['realEstatePost.id', 'user.firstName', 'user.middleName', 'user.lastName', 'phoneNumber', 'createAt']"
            #tbl2
        >
            <ng-template pTemplate="caption">
                <div class="flex flex-row justify-end space-x-4">
                    <span class="p-input-icon-left ml-auto w-full md:w-auto">
                        <i class="pi pi-search"></i>
                        <input #inputFilter pInputText type="text" (input)="tbl2.filterGlobal(inputFilter.value, 'contains')" 
                            placeholder="Nhập tên người đăng..." class="w-full md:w-auto"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pFrozenColumn>#</th>
                    <th>Mã bài đăng</th>
                    <th>Tên người đăng</th>
                    <th>Số điện thoại</th>
                    <th pSortableColumn="createAt">Thời điểm <p-sortIcon field="createAt"></p-sortIcon></th>
                    <th pSortableColumn="price">Số tiền trả <p-sortIcon field="createAt"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-postPaid let-index="rowIndex">
                <tr>
                    <th>
                        <span class="text-sm font-normal">
                            {{ index + 1}}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ postPaid.realEstatePost.id }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ postPaid.user.firstName + ' ' + postPaid.user.middleName + ' ' + postPaid.user.lastName }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ postPaid.user.phoneNumber }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ postPaid.createAt | formatDate }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ postPaid.price | currency:'VND' }}
                        </span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>Không có dữ liệu.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex flex-col w-full space-y-4">
        <span class="font-bold text-2xl">Danh sách thanh toán định kỳ</span>
        <p-table
            [value]="monthlyPaids"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="{first} đến {last} trên {totalRecords} bản ghi"
            [showCurrentPageReport]="true"
            #tbl3
            [globalFilterFields]="['user.firstName', 'user.middleName', 'user.lastName', 'user.phoneNumber', 'content', 'createAt']"
        >
            <ng-template pTemplate="caption">
                <div class="flex flex-row justify-end space-x-4">
                    <span class="p-input-icon-left ml-auto w-full md:w-auto">
                        <i class="pi pi-search"></i>
                        <input #inputFilter pInputText type="text" (input)="tbl3.filterGlobal(inputFilter.value, 'contains')" 
                        placeholder="Nhập tên..." class="w-full md:w-auto"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pFrozenColumn>#</th>
                    <th>Tên</th>
                    <th>Số điện thoại</th>
                    <th pSortableColumn="amount">Số tiền <p-sortIcon field="amount"></p-sortIcon></th>
                    <th>Nội dung</th>
                    <th pSortableColumn="createAt">Thời điểm <p-sortIcon field="createAt"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-monthlyPaid let-index="rowIndex">
                <tr>
                    <th>
                        <span class="text-sm font-normal">
                            {{ index + 1}}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ monthlyPaid.user.firstName + ' ' + monthlyPaid.user.middleName + ' ' + monthlyPaid.user.lastName }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ monthlyPaid.user.phoneNumber }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ monthlyPaid.amount | currency:'VND' }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ monthlyPaid.content }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ monthlyPaid.createAt | formatDate }}
                        </span>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>Không có dữ liệu.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>