<p-confirmDialog [style]="{width: innerWidth > 640 ? '50vw' : '100vh'}"></p-confirmDialog>
<div class="w-full flex flex-col px-4 lg:px-6 space-y-6 pt-6 md:pt-4" *ngIf="!preview; else projectPreview">
    <span class="text-xl font-bold">Danh sách bài viết đã quan tâm</span>
    <p-table [value]="lstInterestedPosts" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="{first} đến {last} trên {totalRecords} bản ghi" 
        [showCurrentPageReport]="true"
        #tbl1
        [globalFilterFields]="['title', 'addressShow']"
    >
        <ng-template pTemplate="caption">
            <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:justify-end md:space-x-4">
                <span class="p-input-icon-left ml-auto w-full md:w-auto">
                    <i class="pi pi-search"></i>
                    <input #inputFilter pInputText type="text" (input)="tbl1.filterGlobal(inputFilter.value, 'contains')" 
                        placeholder="Nhập tiêu đề..." class="w-full md:w-auto"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn>#</th>
                <th>Tiêu đề</th>
                <th>Địa chỉ trên bài viết</th>
                <th pSortableColumn="price">Giá <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="area">Diện tích <p-sortIcon field="area"></p-sortIcon></th>
                <th>Bán/Cho thuê</th>
                <th>Loại BĐS</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
            <tr>
                <th>
                    <span class="text-sm font-normal">
                        {{ index + 1 }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ item.title }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ item.addressShow }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ item.isSell ? (item.price + ' tỷ VNĐ') : (item.price + ' triệu VNĐ') }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ item.area + 'm2' }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ item.isSell ? 'Bán' : 'Cho thuê' }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ genTypeName(item.type) }}
                    </span>
                </th>
                <th>
                    <div class="flex flex-row justify-end">
                        <button pButton pRipple pTooltip="Xem thông tin chi tiết"
                            class="p-button-rounded p-button-text p-button-info" icon="pi pi-eye"
                            (click)="viewPostDetail(item.id)"></button>
                        <button pButton pRipple pTooltip="Khóa/Mở khóa tài khoản"
                            class="p-button-rounded p-button-text p-button-danger" icon="pi pi-trash"
                            (click)="removeInterested(item.id)"></button>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td>Không có dữ liệu.</td>
            </tr>
        </ng-template>
    </p-table>
    <span class="text-xl font-bold">Danh sách dự án đã quan tâm</span>
    <p-table [value]="lstProjects" [paginator]="true" [rows]="10" dataKey="id" [rowsPerPageOptions]="[10, 25, 50]"
        currentPageReportTemplate="{first} đến {last} trên {totalRecords} bản ghi" class="p-datatable-striped"
        [showCurrentPageReport]="true" #tbl2 [globalFilterFields]="['name', 'phoneNumber', 'email', 'createAt']"
    >
        <ng-template pTemplate="caption">
            <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:justify-end md:space-x-4">
                <p-dropdown [options]="lstTypeDropdown" (onChange)="filterByType()" class="w-full md:w-auto" optionLabel="value" optionValue="key"
                    [(ngModel)]="selectedType" placeholder="Loại dự án" [autoDisplayFirst]="false"></p-dropdown>
                <span class="p-input-icon-left ml-auto w-full md:w-auto">
                    <i class="pi pi-search"></i>
                    <input #inputFilter pInputText type="text" (input)="tbl2.filterGlobal(inputFilter.value, 'contains')" 
                        placeholder="Nhập tên dự án..." class="w-full md:w-auto"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pFrozenColumn>#</th>
                <th>Tên dự án</th>
                <th>Loại</th>
                <th>Diện tích</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Ngày đăng</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project let-editing="editing" let-index="rowIndex">
            <tr>
                <th>
                    <span class="text-sm font-normal pl-4">
                        {{ index + 1}}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ project.name }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ getProjectTypeName(project.type) }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ project.area + ' m2' }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ project.phoneNumber }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal">
                        {{ project.email }}
                    </span>
                </th>
                <th class="text-center">
                    <span class="text-sm font-normal pl-4">
                        {{ getProjectAddress(project) }}
                    </span>
                </th>
                <th>
                    <span class="text-sm font-normal pl-4">
                        {{ project.createAt | date:'dd/MM/yyyy hh:mm:ss' }}
                    </span>
                </th>
                <th>
                    <div class="flex flex-row justify-end">
                        <button pButton pRipple class="p-button-rounded p-button-text p-button-secondary"
                            pTooltip="Xem trước" icon="pi pi-info-circle"
                            (click)="selectedProject=project;preview=true"></button>
                        <button pButton pRipple class="p-button-rounded p-button-danger p-button-text"
                            pTooltip="Bỏ quan tâm dự án" icon="pi pi-trash"
                            (click)="deleteInterestedProject(project.id)"></button>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td>Không có dữ liệu.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<ng-template #projectPreview>
    <app-project-view [administrative]="true" [project]="selectedProject" (closeView)="onCloseView($event)"></app-project-view>
</ng-template>