<p-confirmDialog [style]="{width: innerWidth > 640 ? '50vw' : '100vh'}"></p-confirmDialog>
<app-comment [display]="displayComment" [postType]="'FORUM_POST'" (hideEvent)="onCloseCommentDialog()"></app-comment>
<div class="w-full flex flex-col px-4 lg:px-6 space-y-6 mt-6 md:mt-4">
    <div class="w-full flex flex-col space-y-4" *ngIf="isAdmin">
        <span class="font-bold text-2xl">Danh sách bài viết của người dùng hệ thống</span>
        <p-table
            #tbl1
            [value]="userForumPosts"
            [paginator]="true"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="{first} đến {last} trên {totalRecords} bản ghi"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pFrozenColumn>#</th>
                    <th>Nội dung</th>
                    <th pSortableColumn="noLikes">Số lượt thích <p-sortIcon field="noLikes"></p-sortIcon></th>
                    <th pSortableColumn="noComments">Số lượt comment <p-sortIcon field="noComments"></p-sortIcon></th>
                    <th pSortableColumn="noReports">Số lượt báo cáo <p-sortIcon field="noReports"></p-sortIcon></th>
                    <th>Tạo bởi</th>
                    <th>Số điện thoại</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-userForumPost let-index="rowIndex">
                <tr>
                    <th>
                        <span class="text-sm font-normal">
                            {{ index + 1}}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ userForumPost.content.length > 100 ? userForumPost.content.substr(0,100) + '...' : userForumPost.content }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ userForumPost.noLikes }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ userForumPost.noComments }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ userForumPost.noReports }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ userForumPost.fullName }}
                        </span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">
                            {{ userForumPost.phoneNumber }}
                        </span>
                    </th>
                    <th>
                        <button pButton pRipple pTooltip="Xem chi tiết" (click)="viewDetail(userForumPost.id)"
                            class="p-button-text p-button-rounded p-button-secondary" icon="pi pi-eye"></button>
                        <button pButton pRipple pTooltip="Xóa bài viết" (click)="deleteForumPost(userForumPost.id, true)"
                            class="p-button-text p-button-rounded p-button-danger" icon="pi pi-trash"></button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>Không có dữ liệu.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex flex-row w-full justify-between items-center">
        <span class="font-bold text-2xl max-w-[70vw]">Danh sách bài viết đã chia sẻ tới cộng đồng</span>
        <button pButton class="p-button-success p-button-rounded" 
            icon="pi pi-plus" pTooltip="Chia sẻ bài viết mới" (click)="createPost()"></button>
    </div>
    <div class="w-full flex flex-col justify-center items-center space-y-4 pb-4 mt-4">
        <div class="w-full flex flex-col md:w-[50vw] border rounded-md border-gray-custom p-4" 
            *ngFor="let item of forumPosts">
            <app-forum-post-detail [forumPost]="item" [isView]="false" (deleteEvent)="deleteForumPost($event, false)"></app-forum-post-detail>
        </div>
    </div>
</div>