<p-overlayPanel #aroundOP>
    <div class="w-full flex flex-col space-y-4">
        <div class="flex flex-col">
            <p-dropdown placeholder="Tỉnh/Thành" optionLabel="fullName" optionValue="code"
                [filter]="true" filterBy="fullName"
                [options]="provinces" [(ngModel)]="searchRequest.provinceCode" (ngModelChange)="getDistrictsInProvince()"></p-dropdown>
        </div>
        <div class="flex flex-col">
            <p-multiSelect placeholder="Quận/Huyện" [options]="districts" optionLabel="fullName" optionValue="code" [showClear]="true" 
                (onClear)="searchRequest.districtCode=[];searchRequest.wardCode=[]"
                [filter]="true" filterBy="fullName" [(ngModel)]="searchRequest.districtCode" (ngModelChange)="getWardsInDistrict()"
            ></p-multiSelect>
        </div>
        <div class="flex flex-col">
            <p-multiSelect placeholder="Xã/Phường" [options]="wards" optionLabel="fullName" optionValue="code" [showClear]="true" (onClear)="searchRequest.wardCode=[]"
                [filter]="true" filterBy="fullName" [(ngModel)]="searchRequest.wardCode">
            </p-multiSelect>
        </div>
        <div class="flex flex-row justify-between items-center mt-4">
            <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" 
                (click)="searchRequest.provinceCode=null;searchRequest.districtCode=[];searchRequest.wardCode=[]"
                class="p-button-text p-button-rounded p-button-secondary"></button>
            <button pButton pRipple class="p-button-text p-button-raised" label="Áp dụng" (click)="onSearch()"></button>
        </div>
    </div>
</p-overlayPanel>
<p-overlayPanel #areaOP>
    <div class="w-full flex flex-col space-y-6">
        <span class="p-float-label">
            <p-inputNumber inputId="integeronly" [(ngModel)]="searchRequest.startArea"></p-inputNumber>
            <label htmlFor="number-input">Từ (m2)</label>
        </span>
        <span class="p-float-label">
            <p-inputNumber inputId="integeronly" [(ngModel)]="searchRequest.endArea"></p-inputNumber>
            <label htmlFor="number-input">Đến (m2)</label>
        </span>
        <div class="flex flex-row justify-between items-center">
            <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="searchRequest.startArea=null;searchRequest.endArea=null"
                class="p-button-text p-button-rounded p-button-secondary"></button>
            <button pButton pRipple class="p-button-text p-button-raised" label="Áp dụng" (click)="onSearch()"></button>
        </div>
    </div>
</p-overlayPanel>
<p-overlayPanel #priceOP>
    <div class="w-full flex flex-col">
        <div class="w-full flex flex-col space-y-6">
            <span class="p-float-label">
                <p-inputNumber inputId="locale-vn" mode="decimal" locale="en-VN" [minFractionDigits]="2" [(ngModel)]="searchRequest.startPrice"></p-inputNumber>
                <label htmlFor="number-input">{{ 'Từ (tỷ VNĐ)' }}</label>
            </span>
            <span class="p-float-label">
                <p-inputNumber inputId="locale-vn" mode="decimal" locale="en-VN" [minFractionDigits]="2" [(ngModel)]="searchRequest.endPrice"></p-inputNumber>
                <label htmlFor="number-input">{{ 'Đến (triệu VNĐ)' }}</label>
            </span>
            <div class="flex flex-row justify-between items-center">
                <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="searchRequest.startPrice=null;searchRequest.endPrice=null"
                    class="p-button-text p-button-rounded p-button-secondary"></button>
                <button pButton pRipple class="p-button-text p-button-raised" label="Áp dụng" (click)="onSearch()"></button>
            </div>
        </div>
    </div>
</p-overlayPanel>
<p-overlayPanel #otherOP>
    <div class="w-full flex flex-col space-y-8">
        <div class="flex flex-col space-y-2">
            <span class="text-sm font-bold">Số phòng ngủ</span>
            <div class="flex flex-row space-x-4">
                <div class="rounded-lg p-2 w-auto cursor-pointer" 
                    (click)="onSelectBedroom(1)" 
                    [ngClass]="searchRequest.noOfBedrooms.includes(1) ? 'bg-blue-custom text-white' : 'bg-gray-custom text-text-corlor-custom'">
                    <span>1</span>
                </div>
                <div class="rounded-lg p-2 w-auto cursor-pointer"
                    (click)="onSelectBedroom(2)" 
                    [ngClass]="searchRequest.noOfBedrooms.includes(2) ? 'bg-blue-custom text-white' : 'bg-gray-custom text-text-corlor-custom'">
                    <span>2</span>
                </div>
                <div class="rounded-lg p-2 w-auto cursor-pointer"
                    (click)="onSelectBedroom(3)" 
                    [ngClass]="searchRequest.noOfBedrooms.includes(3) ? 'bg-blue-custom text-white' : 'bg-gray-custom text-text-corlor-custom'">
                    <span>3</span>
                </div>
                <div class="rounded-lg p-2 w-auto cursor-pointer"
                    (click)="onSelectBedroom(4)" 
                    [ngClass]="searchRequest.noOfBedrooms.includes(4) ? 'bg-blue-custom text-white' : 'bg-gray-custom text-text-corlor-custom'">
                    <span>4</span>
                </div>
                <div class="rounded-lg p-2 w-auto cursor-pointer"
                    (click)="onSelectBedroom(5)" 
                    [ngClass]="searchRequest.noOfBedrooms.includes(5) ? 'bg-blue-custom text-white' : 'bg-gray-custom text-text-corlor-custom'">
                    <span>5+</span>
                </div>
            </div>
        </div>
        <span class="p-float-label">
            <p-multiSelect placeholder="Chọn hướng" optionLabel="value" [(ngModel)]="searchRequest.direction"
                inputId="float-label" optionValue="key" [options]="lstDirections"></p-multiSelect>
            <label for="float-label">Hướng</label>
        </span>
        <div class="flex flex-row justify-between items-center">
            <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="searchRequest.noOfBedrooms=[];"
                class="p-button-text p-button-rounded p-button-secondary"></button>
            <button pButton pRipple class="p-button-text p-button-raised" label="Áp dụng" (click)="onSearch()"></button>
        </div>
    </div>
</p-overlayPanel>
<div class="md:flex w-full flex-col space-y-6 pb-4">
    <div class="flex flex-col w-full space-y-2">
        <span class="text-2xl font-bold mt-4 mb-2">{{ 'Tìm kiếm bài viết' }}</span>
        <hr class="w-full my-2" width="1" color="#ced4da">
        <div class="flex flex-row">
            <div class="flex lg:hidden">
                <button pButton pRipple class="p-button-secondary p-button-text p-button-rounded" icon="pi pi-filter-fill" (click)="showSearchPopup=true"></button>
            </div>
            <div class="lg:flex lg:flex-row lg:w-2/5 hidden">
                <div class="w-full">
                    <p-dropdown placeholder="Danh mục" [options]="lstDanhMuc" [(ngModel)]="searchRequest.sell"
                        optionLabel="value" optionValue="key"></p-dropdown>
                </div>
                <div class="w-full">
                    <p-dropdown placeholder="Loại BĐS" [options]="lstLoaiBDS" [(ngModel)]="searchRequest.type"
                        optionLabel="value" optionValue="key"></p-dropdown>
                </div>
            </div>
            <div class="w-full lg:w-3/5 flex flex-row">
                <div class="w-full">
                    <input pInputText class="w-full" placeholder="Nhập từ khóa..." [(ngModel)]="searchRequest.keyword" (keydown.enter)="onSearch()">
                </div>
                <div class="w-fit">
                    <button pButton pRipple icon="pi pi-search" (click)="onSearch()"></button>
                </div>
            </div>
        </div>
        <div class="lg:flex flex-row space-x-2 hidden">
            <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr" 
                (click)="aroundOP.toggle($event)">
                <span class="text-text-color-custom text-sm">{{ renderSelectedDiaDiem() }}</span>
                <i class="pi pi-chevron-down text-icon-custom"></i>
            </div>
            <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr"
                (click)="areaOP.toggle($event)">
                <span class="text-text-color-custom text-sm">{{ renderSelectedDienTich() }}</span>
                <i class="pi pi-chevron-down text-icon-custom"></i>
            </div>
            <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr"
                (click)="priceOP.toggle($event)">
                <span class="text-text-color-custom text-sm">{{ renderSelectedGia() }}</span>
                <i class="pi pi-chevron-down text-icon-custom"></i>
            </div>
            <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr"
                (click)="otherOP.toggle($event)">
                <span class="text-text-color-custom text-sm">{{ renderSelectedXemThem() }}</span>
                <i class="pi pi-chevron-down text-icon-custom"></i>
            </div>
            <div class="w-auto">
                <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="this.initSearchRequest()"
                    class="p-button-text p-button-rounded p-button-secondary"></button>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col space-y-4">
        <span class="text-2xl font-bold">{{ 'Tin tức' }}</span>
        <hr class="w-full" width="1" color="#ced4da">
        <div class="w-full flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6">
            <div class="w-full flex flex-col space-y-2 cursor-pointer" (click)="viewInfoPost(firstInfoPost?.id)">
                <div class="w-full">
                    <img [src]="firstImageRetrive" alt="Hình ảnh minh họa" class="w-full">
                </div>
                <span class="font-semibold text-lg">{{ firstInfoPost?.title }}</span>
                <div class="w-full flex flex-row justify-between">
                    <span class="text-sm italic">{{ firstInfoPost?.fullName }}</span>
                    <span class="text-sm italic">{{ firstInfoPost?.createAt | date:'dd/MM/yyyy, h:mm:ss a' }}</span>
                </div>
            </div>
            <div class="w-full flex flex-col justify-between">
                <div *ngFor="let item of lstInfoPosts;let i = index">
                    <div class="w-full flex flex-col space-y-1 cursor-pointer py-4" 
                        [ngClass]="i < lstInfoPosts.length - 1 ? 'border-b border-b-custom' : ''" 
                        (click)="viewInfoPost(item?.id)"  (mouseover)="setTinTucImg(item?.id)">
                        <span class="text-lg font-semibold hover:font-light">{{ item?.title }}</span>
                        <div class="w-full flex flex-row justify-between">
                            <span class="text-sm italic">{{ item?.fullName }}</span>
                            <span class="text-sm italic">{{ item?.createAt | date:'dd/MM/yyyy, h:mm:ss a' }}</span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="w-full flex items-center justify-center">
            <div class="p-3 border border-b-custom rounded-md hover:border-blue-custom w-fit cursor-pointer" 
                (click)="navigateToInfoPostPage()">
                <span class="text-blue-custom">{{ 'Xem thêm' }}</span>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col space-y-4">
        <span class="text-2xl font-bold">{{ 'Dự án bất động sản nổi bật' }}</span>
        <hr class="w-full" width="1" color="#ced4da">
        <div class="w-full flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6">
            <div class="w-full flex flex-col space-y-2 cursor-pointer" (click)="viewInfoPost(firstDuAnInfoPost?.id)">
                <div class="w-full">
                    <img [src]="firstDuAnImageRetrive" alt="Hình ảnh minh họa" class="w-full">
                </div>
                <span class="font-semibold text-lg">{{ firstDuAnInfoPost?.title }}</span>
                <div class="w-full flex flex-row justify-between">
                    <span class="text-sm italic">{{ firstDuAnInfoPost?.fullName }}</span>
                    <span class="text-sm italic">{{ firstDuAnInfoPost?.createAt | date:'dd/MM/yyyy, h:mm:ss a' }}</span>
                </div>
            </div>
            <div class="w-full flex flex-col">
                <div *ngFor="let item of lstDuAnInfoPosts;let i = index">
                    <div class="w-full flex flex-col space-y-1 cursor-pointer py-4" 
                        [ngClass]="i < lstDuAnInfoPosts.length - 1 ? 'border-b border-b-custom' : ''" 
                        (click)="viewInfoPost(item?.id)" (mouseover)="setDuAnImg(item?.id)">
                        <span class="text-lg font-semibold hover:font-light">{{ item?.title }}</span>
                        <div class="w-full flex flex-row justify-between">
                            <span class="text-sm italic">{{ item?.fullName }}</span>
                            <span class="text-sm italic">{{ item?.createAt | date:'dd/MM/yyyy, h:mm:ss a' }}</span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="w-full flex items-center justify-center">
            <div class="p-3 border border-b-custom rounded-md hover:border-blue-custom w-fit cursor-pointer" 
                (click)="navigateToDuAnPage()">
                <span class="text-blue-custom">{{ 'Xem thêm' }}</span>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col space-y-4">
        <span class="text-2xl font-bold">{{ 'Bài viết mới nhất' }}</span>
        <hr class="w-full" width="1" color="#ced4da">
        <app-rep-carousel [type]="newestType"></app-rep-carousel>
        <div class="w-full flex items-center justify-center">
            <div class="p-3 border border-b-custom rounded-md hover:border-blue-custom w-fit cursor-pointer" 
                (click)="navigateToMuaBanNhaDat()">
                <span class="text-blue-custom">{{ 'Xem thêm' }}</span>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col space-y-4">
        <span class="text-2xl font-bold">{{ 'Được quan tâm nhiều nhất' }}</span>
        <hr class="w-full" width="1" color="#ced4da">
        <app-rep-carousel [type]="mostInterestedType"></app-rep-carousel>
        <div class="w-full flex items-center justify-center">
            <div class="p-3 border border-b-custom rounded-md hover:border-blue-custom w-fit cursor-pointer" 
                (click)="navigateToMuaBanNhaDat()">
                <span class="text-blue-custom">{{ 'Xem thêm' }}</span>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col space-y-4">
        <span class="text-2xl font-bold">{{ 'Được xem nhiều nhất' }}</span>
        <hr class="w-full" width="1" color="#ced4da">
        <app-rep-carousel [type]="mostViewType"></app-rep-carousel>
        <div class="w-full flex items-center justify-center">
            <div class="p-3 border border-b-custom rounded-md hover:border-blue-custom w-fit cursor-pointer" 
                (click)="navigateToMuaBanNhaDat()">
                <span class="text-blue-custom">{{ 'Xem thêm' }}</span>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Mật khẩu mới" [(visible)]="showSearchPopup" [style]="{width: '100vw'}" 
    [baseZIndex]="100" [modal]="true">
    <div class="flex flex-col space-y-4 p-4 w-full">
        <div class="w-full">
            <p-dropdown placeholder="Danh mục" [options]="lstDanhMuc" [(ngModel)]="searchRequest.sell"
                optionLabel="value" optionValue="key"></p-dropdown>
        </div>
        <div class="w-full">
            <p-dropdown placeholder="Loại BĐS" [options]="lstLoaiBDS" [(ngModel)]="searchRequest.type"
                optionLabel="value" optionValue="key"></p-dropdown>
        </div>
        <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr" 
            (click)="aroundOP.toggle($event)">
            <span class="text-text-color-custom text-sm">{{ renderSelectedDiaDiem() }}</span>
            <i class="pi pi-chevron-down text-icon-custom"></i>
        </div>
        <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr"
            (click)="areaOP.toggle($event)">
            <span class="text-text-color-custom text-sm">{{ renderSelectedDienTich() }}</span>
            <i class="pi pi-chevron-down text-icon-custom"></i>
        </div>
        <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr"
            (click)="priceOP.toggle($event)">
            <span class="text-text-color-custom text-sm">{{ renderSelectedGia() }}</span>
            <i class="pi pi-chevron-down text-icon-custom"></i>
        </div>
        <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr"
            (click)="otherOP.toggle($event)">
            <span class="text-text-color-custom text-sm">{{ renderSelectedXemThem() }}</span>
            <i class="pi pi-chevron-down text-icon-custom"></i>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="w-full flex flex-row justify-between items-center">
            <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="this.initSearchRequest()"
                class="p-button-text p-button-rounded p-button-secondary"></button>
            <button pButton pRipple label="Tìm kiếm" class="p-button-text" (click)="onSearch()"></button>
        </div>
    </ng-template>
</p-dialog>