<p-confirmDialog [style]="{width: innerWidth > 640 ? '50vw' : '100vh'}"></p-confirmDialog>
<p-overlayPanel #danhMucOP>
    <div class="w-[200px] flex flex-col">
        <div class="border-b border-b-custom py-2 hover:bg-gray-200 cursor-pointer" 
            *ngFor="let item of lstDanhMuc" (click)="searchRequest.sell=item.key;danhMucOP.hide()">
            <span>{{ item.value }}</span>
        </div>
    </div>
</p-overlayPanel>
<p-overlayPanel #loaiBdsOP>
    <div class="w-[200px] flex flex-col">
        <div class="border-b border-b-custom py-2 hover:bg-gray-200 cursor-pointer" 
            *ngFor="let item of lstLoaiBDS" (click)="searchRequest.type=item.key;loaiBdsOP.hide()">
            <span>{{ item.value }}</span>
        </div>
    </div>
</p-overlayPanel>
<p-overlayPanel #aroundOP>
    <div class="w-full flex flex-col space-y-4">
        <div class="flex flex-col">
            <p-dropdown placeholder="Tỉnh/Thành" optionLabel="fullName" optionValue="code"
                [filter]="true" filterBy="fullName" [autofocusFilter]="false"
                [options]="provinces" [(ngModel)]="searchRequest.provinceCode" (ngModelChange)="getDistrictsInProvince()"></p-dropdown>
        </div>
        <div class="flex flex-col">
            <p-multiSelect placeholder="Quận/Huyện" [options]="districts" optionLabel="fullName" optionValue="code" [showClear]="true" 
                (onClear)="searchRequest.districtCode=[];searchRequest.wardCode=[]" [autofocusFilter]="false"
                [filter]="true" filterBy="fullName" [(ngModel)]="searchRequest.districtCode" (ngModelChange)="getWardsInDistrict()"
            ></p-multiSelect>
        </div>
        <div class="flex flex-col">
            <p-multiSelect placeholder="Xã/Phường" [options]="wards" optionLabel="fullName" optionValue="code" [showClear]="true" 
                (onClear)="searchRequest.wardCode=[]" [autofocusFilter]="false"
                [filter]="true" filterBy="fullName" [(ngModel)]="searchRequest.wardCode">
            </p-multiSelect>
        </div>
        <div class="flex flex-row justify-between items-center mt-4">
            <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" 
                (click)="searchRequest.provinceCode=null;searchRequest.districtCode=[];searchRequest.wardCode=[]"
                class="p-button-text p-button-rounded p-button-secondary"></button>
            <button pButton pRipple class="p-button-text p-button-raised" label="Áp dụng" (click)="onSearch()"></button>
        </div>
    </div>
</p-overlayPanel>
<p-overlayPanel #areaOP>
    <div class="w-full flex flex-col space-y-6">
        <span class="p-float-label">
            <p-inputNumber inputId="integeronly" [(ngModel)]="searchRequest.startArea"></p-inputNumber>
            <label htmlFor="number-input">Từ (m2)</label>
        </span>
        <span class="p-float-label">
            <p-inputNumber inputId="integeronly" [(ngModel)]="searchRequest.endArea"></p-inputNumber>
            <label htmlFor="number-input">Đến (m2)</label>
        </span>
        <div class="flex flex-row justify-between items-center">
            <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="searchRequest.startArea=null;searchRequest.endArea=null"
                class="p-button-text p-button-rounded p-button-secondary"></button>
            <button pButton pRipple class="p-button-text p-button-raised" label="Áp dụng" (click)="onSearch()"></button>
        </div>
    </div>
</p-overlayPanel>
<p-overlayPanel #priceOP>
    <div class="w-full flex flex-col">
        <div class="w-full flex flex-col space-y-6">
            <span class="p-float-label">
                <p-inputNumber inputId="locale-vn" mode="decimal" locale="en-VN" [minFractionDigits]="2" [(ngModel)]="searchRequest.startPrice"></p-inputNumber>
                <label htmlFor="number-input">{{ 'Từ (' + (searchRequest.sell == 1 ? 'tỷ VNĐ)' : 'triệu VNĐ)') }}</label>
            </span>
            <span class="p-float-label">
                <p-inputNumber inputId="locale-vn" mode="decimal" locale="en-VN" [minFractionDigits]="2" [(ngModel)]="searchRequest.endPrice"></p-inputNumber>
                <label htmlFor="number-input">{{ 'Đến (' + (searchRequest.sell == 1 ? 'tỷ VNĐ)' : 'triệu VNĐ)') }}</label>
            </span>
            <div class="flex flex-row justify-between items-center">
                <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="searchRequest.startPrice=null;searchRequest.endPrice=null"
                    class="p-button-text p-button-rounded p-button-secondary"></button>
                <button pButton pRipple class="p-button-text p-button-raised" label="Áp dụng" (click)="onSearch()"></button>
            </div>
        </div>
    </div>
</p-overlayPanel>
<p-overlayPanel #otherOP>
    <div class="w-full flex flex-col space-y-8">
        <div class="flex flex-col space-y-2">
            <span class="text-sm font-bold">Số phòng ngủ</span>
            <div class="flex flex-row space-x-4">
                <div class="rounded-lg p-2 w-auto cursor-pointer" 
                    (click)="onSelectBedroom(1)" 
                    [ngClass]="searchRequest.noOfBedrooms.includes(1) ? 'bg-blue-custom text-white' : 'bg-gray-custom text-text-corlor-custom'">
                    <span>1</span>
                </div>
                <div class="rounded-lg p-2 w-auto cursor-pointer"
                    (click)="onSelectBedroom(2)" 
                    [ngClass]="searchRequest.noOfBedrooms.includes(2) ? 'bg-blue-custom text-white' : 'bg-gray-custom text-text-corlor-custom'">
                    <span>2</span>
                </div>
                <div class="rounded-lg p-2 w-auto cursor-pointer"
                    (click)="onSelectBedroom(3)" 
                    [ngClass]="searchRequest.noOfBedrooms.includes(3) ? 'bg-blue-custom text-white' : 'bg-gray-custom text-text-corlor-custom'">
                    <span>3</span>
                </div>
                <div class="rounded-lg p-2 w-auto cursor-pointer"
                    (click)="onSelectBedroom(4)" 
                    [ngClass]="searchRequest.noOfBedrooms.includes(4) ? 'bg-blue-custom text-white' : 'bg-gray-custom text-text-corlor-custom'">
                    <span>4</span>
                </div>
                <div class="rounded-lg p-2 w-auto cursor-pointer"
                    (click)="onSelectBedroom(5)" 
                    [ngClass]="searchRequest.noOfBedrooms.includes(5) ? 'bg-blue-custom text-white' : 'bg-gray-custom text-text-corlor-custom'">
                    <span>5+</span>
                </div>
            </div>
        </div>
        <span class="p-float-label">
            <p-multiSelect placeholder="Chọn hướng" optionLabel="value" [(ngModel)]="searchRequest.direction"
                inputId="float-label" optionValue="key" [options]="lstDirections"></p-multiSelect>
            <label for="float-label">Hướng</label>
        </span>
        <div class="flex flex-row justify-between items-center">
            <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="searchRequest.noOfBedrooms=[];"
                class="p-button-text p-button-rounded p-button-secondary"></button>
            <button pButton pRipple class="p-button-text p-button-raised" label="Áp dụng" (click)="onSearch()"></button>
        </div>
    </div>
</p-overlayPanel>
<p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
<app-chat-dialog 
    [chatRoomId]="chatRoomId" 
    [display]="displayChatDialog" 
    [userDeviceId]="userDeviceId"
    (hideEvent)="onHideChatDialog($event)"
    >
</app-chat-dialog>
<p-overlayPanel #op>
    <ng-template pTemplate="content">
        <div *ngIf="lstInterestedPosts.length > 0;else emptyIP" class="w-full max-h-[300px] overflow-y-auto">
            <div *ngFor="let item of lstInterestedPosts" class="flex flex-row w-full items-center space-x-2 md:space-x-4">
                <div class="flex flex-col space-y-2 border-b border-b-custom p-2 bg-white hover:bg-b-custom cursor-pointer"
                    (click)="viewDetail(item.id, item.isSell, item.type)">
                    <span class="font-bold">{{ item.title.length > 30 ? (item.title.substr(0, 30) + '...') : item.title }}</span>
                    <span>{{ item.addressShow.length > 30 ? (item.addressShow.substr(0, 30) + '...') : item.addressShow }}</span>
                    <div class="flex flex-row space-x-6">
                        <span class="text-sm">{{ item.isSell ? 'Bán' : 'Cho thuê' }}</span>
                        <span class="text-sm">{{ genTypeName(item.type) }}</span>
                        <span class="text-sm font-semibold">{{ item.isSell ? (item.price + ' tỷ VNĐ') : (item.price + ' triệu VNĐ') }}</span>
                        <span class="text-sm">{{ item.area + 'm2' }}</span>
                    </div>
                </div>
                <i class="pi pi-times cursor-pointer" pTooltip="Bỏ quan tâm" (click)="removeInterested(item.id)"></i>
            </div>
        </div>
        <ng-template #emptyIP>
            <span class="italic">{{ 'Bạn chưa quan tâm bài viết nào.' }}</span>
        </ng-template>
    </ng-template>
</p-overlayPanel>
<div class="w-full flex flex-col">
    <div class="w-full h-16 fixed flex flex-row z-[999]">
        <p-menubar [model]="items" class="bg-white w-full">
            <ng-template pTemplate="start">
                <img src="/assets/logo/logo_main.svg" class="w-20 h-full cursor-pointer"
                    (click)="navigatePage('/home')">
            </ng-template>
            <ng-template pTemplate="end">
                <div class="flex flex-row space-x-4">
                    <p-avatar class="cursor-pointer mt-1" icon="pi pi-heart" 
                        pBadge [value]="noInterestedPost" *ngIf="showInterestedIcon()"
                        [style]="{ 'background-color': '#ffffff', color: '#000000' }" (click)="showInterested();op.toggle($event)"></p-avatar>
                    <div *ngIf="!isAuth">
                        <span class="font-semibold text-sm cursor-pointer" (click)="navigatePage('/register')">Đăng ký</span>
                        <span class="mx-2">|</span>
                        <span class="font-semibold text-sm cursor-pointer" (click)="navigatePage('/login')">Đăng nhập</span>
                    </div>
                    <div *ngIf="isAuth">
                        <p-avatar [image]="avatarUrl" shape="circle" class="cursor-pointer"
                            (click)="menu.toggle($event)"></p-avatar>
                    </div>
                </div>
            </ng-template>
        </p-menubar>
    </div>
    <div class="w-full mt-16 h-12 fixed flex flex-row z-[99] lg:px-6 bg-white" *ngIf="showSearchBar">
        <div class="hidden lg:flex flex-row border-b border-b-custom w-full h-full">
            <div class="basis-1/12 flex justify-between items-center border-r border-b-custom hover:border-b px-3 py-3 cursor-pointer hover:border-primary-clr" 
                (click)="danhMucOP.toggle($event)">
                <span class="text-text-color-custom text-sm">{{ renderSelectedDanhMuc() }}</span>
                <i class="pi pi-chevron-down text-icon-custom"></i>
            </div>
            <div class="basis-1/12 flex justify-between items-center border-r border-b-custom hover:border-b px-3 py-3 cursor-pointer hover:border-primary-clr" 
                (click)="loaiBdsOP.toggle($event)">
                <span class="text-text-color-custom text-sm">{{ renderSelectedLoaiBDS() }}</span>
                <i class="pi pi-chevron-down text-icon-custom"></i>
            </div>
            <div class="basis-1/3 flex justify-between items-center border-r border-b-custom hover:border-b px-3 py-3 cursor-pointer hover:border-primary-clr">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-search"></i>
                    <input class="w-full py-[0.5rem]" placeholder="Nhập từ khóa..." [(ngModel)]="searchRequest.keyword" 
                        pInputText [style]="{border: 0, 'box-shadow': 'none'}"
                        (keydown.enter)="onSearch()">
                </span>
            </div>
            <div class="basis-1/6 flex justify-between items-center border-r border-b-custom hover:border-b px-3 py-3 cursor-pointer hover:border-primary-clr" 
                (click)="aroundOP.toggle($event)">
                <span class="text-text-color-custom text-sm">{{ renderSelectedDiaDiem() }}</span>
                <i class="pi pi-chevron-down text-icon-custom"></i>
            </div>
            <div class="basis-1/6 flex justify-between items-center border-r border-b-custom hover:border-b px-3 py-3 cursor-pointer hover:border-primary-clr"
                (click)="areaOP.toggle($event)">
                <span class="text-text-color-custom text-sm">{{ renderSelectedDienTich() }}</span>
                <i class="pi pi-chevron-down text-icon-custom"></i>
            </div>
            <div class="basis-1/6 flex justify-between items-center border-r border-b-custom hover:border-b px-3 py-3 cursor-pointer hover:border-primary-clr"
                (click)="priceOP.toggle($event)">
                <span class="text-text-color-custom text-sm">{{ renderSelectedGia() }}</span>
                <i class="pi pi-chevron-down text-icon-custom"></i>
            </div>
            <div class="w-auto">
                <button pButton pRipple icon="pi pi-list" pTooltip="Xem thêm" (click)="otherOP.toggle($event)"
                    class="p-button-text p-button-rounded p-button-secondary"></button>
            </div>
            <div class="w-auto">
                <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="this.initSearchRequest()"
                    class="p-button-text p-button-rounded p-button-secondary"></button>
            </div>
        </div>
        <div class="flex flex-row px-4 lg:hidden">
            <button pButton pRipple class="p-button-secondary p-button-text p-button-rounded" icon="pi pi-filter-fill" (click)="showSearchPopup=true"></button>
            <div class="w-full">
                <input pInputText class="w-full" placeholder="Nhập từ khóa..." [(ngModel)]="searchRequest.keyword" (keydown.enter)="onSearch()">
            </div>
            <div class="w-auto">
                <button pButton pRipple icon="pi pi-search" (click)="onSearch()"></button>
            </div>
            <div class="w-auto">
                <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="this.initSearchRequest()"
                    class="p-button-text p-button-rounded p-button-secondary"></button>
            </div>
        </div>
    </div>
    <div class="w-full " [ngClass]="showSearchBar ? 'mt-28' : 'mt-16'">
        <div class="w-full px-4 md:px-16 lg:px-32 min-h-[100vh]" id="my-container">
            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
        <div class="w-full bg-slate-200 py-4 px-4 md:px-16 lg:px-32 flex flex-col lg:flex-row space-y-4 lg:space-y-0">
            <div class="w-full lg:w-1/3 flex flex-col">
                <div class="w-full h-16 flex justify-center items-center">
                    <img src="/assets/logo/logo_main.svg" alt="" class="h-full">
                </div>
                <span class="text-xl font-bold text-center">{{ about.name.toUpperCase() }}</span>
            </div>
            <div class="w-full lg:w-2/3 flex flex-col space-y-4">
                <div class="space-x-2 flex flex-row items-center">
                    <i class="pi pi-map-marker"></i>
                    <div class="flex flex-col">
                        <span class="text-sm">Địa chỉ</span>
                        <span class="font-semibold">{{ about.address }}</span>
                    </div>
                </div>
                <div class="space-x-2 flex flex-row items-center">
                    <i class="pi pi-phone"></i>
                    <div class="flex flex-col">
                        <span class="text-sm">Điện thoại</span>
                        <span class="font-semibold">{{ about.phoneNumber | phone}}</span>
                    </div>
                </div>
                <div class="space-x-2 flex flex-row items-center">
                    <i class="pi pi-envelope"></i>
                    <div  class="flex flex-col">
                        <span class="text-sm">Hòm thư</span>
                        <span class="font-semibold">{{ about.email }}</span>
                    </div>
                </div>
                <div class="space-x-2 flex flex-row items-center cursor-pointer w-fit" (click)="chatWithAdmin()">
                    <i class="pi pi-comments"></i>
                    <span class="font-semibold">{{ 'Nhắn tin với quản trị viên' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Mật khẩu mới" [(visible)]="displayChangePassword" [style]="{width: innerWidth <= 640 ? '100vw' : '30vw'}" 
    [baseZIndex]="100" [modal]="true">
    <div class="flex flex-col space-y-4 p-4">
        <span class="italic">{{ 'Mã OTP đã được gửi về tài khoản email ' + emailVerify}}</span>
        <div>
            <label for="verifyOTP" class="text-sm">Nhập OTP</label>
            <input id="verifyOTP" pInputText class="w-full" [(ngModel)]="verifyOTP"
                placeholder="Nhập mã OTP được gửi về email" [autofocus]="true" ria-describedby="valid-otp"
                [ngClass]="verifyOTP.length <= 0 ? 'ng-invalid ng-dirty' : ''">
            <small id="valid-otp" *ngIf="!validOTP()" class="text-red-500">Mã OTP không chính xác</small>
        </div>
        <div class="flex flex-col w-full">
            <label for="newPassword" class="text-sm">Mật khẩu mới</label>
            <p-password id="newPassword" placeholder="Nhập mật khẩu mới" [toggleMask]="true"
                inputStyleClass="block w-full p-3 md:w-30rem" [style]="{'width':'100%'}"
                [ngClass]="newPassword.length <= 0 ? 'ng-invalid ng-dirty' : ''"
                [inputStyle]="{'width':'100%'}" [(ngModel)]="newPassword"></p-password>
        </div>
        <div class="flex flex-col w-full">
            <label for="newPasswordAgain" class="text-sm">Nhập lại mật khẩu</label>
            <p-password id="newPasswordAgain" placeholder="Nhập lại mật khẩu" [toggleMask]="true"
                inputStyleClass="block w-full p-3 md:w-30rem" [style]="{'width':'100%'}"
                ria-describedby="valid-password"
                [ngClass]="newPasswordAgain.length <= 0 ? 'ng-invalid ng-dirty' : ''"
                [inputStyle]="{'width':'100%'}" [(ngModel)]="newPasswordAgain"></p-password>
            <small id="valid-password" *ngIf="validPassword()" class="text-red-500">Mật khẩu không giống nhau</small>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="changePassword()" [disabled]="validChangePassword()" label="Đổi mật khẩu" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<p-dialog header="Tìm kiếm bài viết" [(visible)]="showSearchPopup" [style]="{width: '100vw'}" 
    [baseZIndex]="100" [modal]="true">
    <div class="flex flex-col space-y-4 p-4 w-full">
        <div class="w-full">
            <p-dropdown placeholder="Danh mục" [options]="lstDanhMuc" [(ngModel)]="searchRequest.sell"
                optionLabel="value" optionValue="key"></p-dropdown>
        </div>
        <div class="w-full">
            <p-dropdown placeholder="Loại BĐS" [options]="lstLoaiBDS" [(ngModel)]="searchRequest.type"
                optionLabel="value" optionValue="key"></p-dropdown>
        </div>
        <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr" 
            (click)="aroundOP.toggle($event)">
            <span class="text-text-color-custom text-sm">{{ renderSelectedDiaDiem() }}</span>
            <i class="pi pi-chevron-down text-icon-custom"></i>
        </div>
        <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr"
            (click)="areaOP.toggle($event)">
            <span class="text-text-color-custom text-sm">{{ renderSelectedDienTich() }}</span>
            <i class="pi pi-chevron-down text-icon-custom"></i>
        </div>
        <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr"
            (click)="priceOP.toggle($event)">
            <span class="text-text-color-custom text-sm">{{ renderSelectedGia() }}</span>
            <i class="pi pi-chevron-down text-icon-custom"></i>
        </div>
        <div class="w-full flex justify-between items-center border rounded-md border-b-custom px-3 py-3 cursor-pointer hover:border-primary-clr"
            (click)="otherOP.toggle($event)">
            <span class="text-text-color-custom text-sm">{{ renderSelectedXemThem() }}</span>
            <i class="pi pi-chevron-down text-icon-custom"></i>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="w-full flex flex-row justify-between items-center">
            <button pButton pRipple icon="pi pi-sync" pTooltip="Đặt lại" (click)="this.initSearchRequest()"
                class="p-button-text p-button-rounded p-button-secondary"></button>
            <button pButton pRipple label="Tìm kiếm" class="p-button-text" (click)="onSearch()"></button>
        </div>
    </ng-template>
</p-dialog>