<p-confirmDialog [style]="{width: innerWidth > 640 ? '50vw' : '100vh'}"></p-confirmDialog>
<div class="flex flex-col space-y-4 w-full mt-6 md:mt-4 mb-4">
    <div class="flex flex-row w-full justify-between items-center">
        <div class="flex flex-row space-x-4 items-center">
            <button pButton pRipple icon="pi pi-chevron-left" pTooltip="Quay lại"
                class="p-button-text p-button-rounded p-button-secondary" (click)="goBack()"></button>
            <span class="text-xl font-bold">Chi tiết bài viết</span>
        </div>
        <button pButton pRipple class="p-button-rounded p-button-danger" 
            icon="pi pi-trash" (click)="deletePost()" pTooltip="Xóa bài viết"></button>
    </div>
    <div class="w-full flex flex-col justify-center items-center space-y-4 pb-4 mt-4">
        <div class="w-full flex flex-col md:w-[50vw] border rounded-md border-gray-custom p-4">
            <app-forum-post-detail [forumPost]="forumPost" [isView]="true"></app-forum-post-detail>
        </div>
    </div>
</div>