<app-create-report 
    [isForumPost]="true" 
    [displayCreateReportDialog]="displayCreateReportDialog" 
    [postId]="selectedPostId"
    (hideEvent)="displayCreateReportDialog=false">
</app-create-report>
<app-comment [display]="displayComment" [postId]="selectedPostId" [postType]="'FORUM_POST'" (hideEvent)="onCloseCommentDialog()"></app-comment>
<div class="w-full flex flex-col px-4 lg:px-6 space-y-6 justify-center items-center">
    <div class="w-full flex flex-row md:w-[50vw] border rounded-md border-gray-custom p-4 space-x-4 mt-4">
        <p-avatar [image]="retriveAvatar" shape="circle"></p-avatar>
        <div class="flex justify-start items-center pl-4 rounded-3xl w-full bg-gray-300 cursor-text" (click)="create()">
            <span>{{ 'Chia sẻ thông tin...' }}</span>
        </div>
    </div>
    <div class="w-full flex flex-col justify-center items-center space-y-4 pb-4 mt-4" *ngIf="forumPosts.length > 0;else emptyForumPost">
        <div class="w-full flex flex-col md:w-[50vw] border rounded-md border-gray-custom p-4" 
            *ngFor="let item of forumPosts">
            <app-forum-post-detail [forumPost]="item" [isView]="true" (postIdEvent)="selectedPostId = $event; displayCreateReportDialog = true"></app-forum-post-detail>
        </div>
    </div>
    <ng-template #emptyForumPost>
        <div class="w-full text-center">
            <span class="text-xl font-bold">{{ 'Không tìm thấy bài viết nào.' }}</span>
        </div>
    </ng-template>
</div>