<div class="w-full flex flex-col py-6 md:py-4 space-y-4 px-4 lg:px-6" *ngIf="!isEnterprise;else enterprise">
    <app-price-fluctuation-statistic></app-price-fluctuation-statistic>
    <div class="w-full flex flex-col space-y-6">
        <span class="text-xl font-bold mt-6 md:mt-4">Danh sách bài đăng bán/cho thuê</span>
        <p-table [value]="realEstatePosts" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
            currentPageReportTemplate="{first} đến {last} trên {totalRecords} bản ghi" [showCurrentPageReport]="true"
        >
            <ng-template pTemplate="caption">
                <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:justify-end md:space-x-4">
                    <p-dropdown [options]="typeOptions" placeholder="Bán/Cho thuê" optionLabel="value" optionValue="key" class="w-full md:w-auto"
                        [(ngModel)]="selectedType" (ngModelChange)="filterFunc()" [autoDisplayFirst]="false"></p-dropdown>
                    <p-dropdown [options]="repTypeOptions" placeholder="Loại bất động sản" optionLabel="value" optionValue="key" class="w-full md:w-auto"
                        [(ngModel)]="selectedRepType" (ngModelChange)="filterFunc()" [autoDisplayFirst]="false"></p-dropdown>
                    <p-dropdown [options]="statusOptions" placeholder="Trạng thái" optionLabel="value" optionValue="key" class="w-full md:w-auto"
                        [(ngModel)]="selectedStatus" (ngModelChange)="filterFunc()" [autoDisplayFirst]="false"></p-dropdown>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pFrozenColumn>#</th>
                    <th>Bán/Cho thuê</th>
                    <th>Loại</th>
                    <th pSortableColumn="price">Giá <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="area">Diện tích (m2) <p-sortIcon field="area"></p-sortIcon></th>
                    <th pSortableColumn="createAt">Thời điểm tạo <p-sortIcon field="createAt"></p-sortIcon></th>
                    <th>Trạng thái</th>
                    <th pSortableColumn="view">Số lượt xem <p-sortIcon field="view"></p-sortIcon></th>
                    <th pSortableColumn="comment">Bình luận <p-sortIcon field="view"></p-sortIcon></th>
                    <th pSortableColumn="report">Báo cáo <p-sortIcon field="report"></p-sortIcon></th>
                    <th pSortableColumn="interested">Quan tâm <p-sortIcon field="interested"></p-sortIcon></th>
                    <th pSortableColumn="clickedView">Xem SĐT <p-sortIcon field="clickedView"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rep let-index="rowIndex">
                <tr>
                    <th>
                        <span class="text-sm font-normal">{{ index + 1 }}</span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">{{ rep.sell ? 'Bán' : 'Cho thuê' }}</span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">{{ genType(rep.type) }}</span>
                    </th>
                    <th class="text-start">
                        <span class="text-sm font-normal">{{ rep.price + (rep.sell ? ' tỷ VNĐ' : ' triệu VNĐ') }}</span>
                    </th>
                    <th class="text-center">
                        <span class="text-sm font-normal">{{ rep.area }}</span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">{{ rep.createAt | date:'dd/MM/yyyy, h:mm:ss a' }}</span>
                    </th>
                    <th class="text-start">
                        <p-tag [value]="getStatusValue(rep.status)" [severity]="getStatusSeverity(rep.status)"></p-tag>
                    </th>
                    <th>
                        <span class="text-sm font-normal">{{ rep.view }}</span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">{{ rep.comment }}</span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">{{ rep.report }}</span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">{{ rep.interested }}</span>
                    </th>
                    <th>
                        <span class="text-sm font-normal">{{ rep.clickedView }}</span>
                    </th>
                    <th>
                        <button pButton pRipple class="p-button-text p-button-warning p-button-rounded"
                            pTooltip="Xem thống kê chi tiết"
                            icon="pi pi-chart-line" (click)="selectedRep=rep"></button>
                        <button pButton pRipple class="p-button-text p-button-info p-button-rounded"
                            pTooltip="Xem bài viết"
                            icon="pi pi-info-circle" (click)="selectedRep=rep;viewPost()"></button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>Không có dữ liệu.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <app-rep-statistic [postId]="selectedRep?.id"></app-rep-statistic>
</div>
<ng-template #enterprise>
    <app-project-statistic></app-project-statistic>
</ng-template>