<p-carousel 
[value]="reps" 
[numVisible]="innerWidth > 1240 ? 4 : 3" 
[numScroll]="innerWidth > 1240 ? 4 : 3" 
[circular]="false" 
[responsiveOptions]="responsiveOptions">
    <ng-template let-rep pTemplate="item">
        <div class="flex flex-col space-y-2 border border-b-custom rounded-lg pb-2 cursor-pointer mx-4 overflow-y-auto">
            <div class="w-full h-[25vh]" (click)="viewDetail(rep?.id)">
                <img [src]="rep?.imageRetrive" alt="Hình ảnh minh họa" class="w-full h-[25vh]">
            </div>
            <div class="px-2 flex flex-col space-y-2">
                <span class="font-bold h-[5vh] mb-4" [pTooltip]="rep?.title" (click)="viewDetail(rep?.id)">
                    {{ rep?.title.length > 50 ? rep?.title.slice(0, 50) + '...' : rep?.title }}
                </span>
                <span class="text-sm h-[5vh]" [pTooltip]="rep?.addressShow" (click)="viewDetail(rep?.id)">
                    {{ rep?.addressShow.length > 50 ? rep?.addressShow.slice(0, 50) + '...' : rep?.addressShow }}
                </span>
                <div class="flex flex-row w-full space-x-4" (click)="viewDetail(rep?.id)">
                    <span class="font-semibold text-blue-custom">{{ rep?.price + (rep?.sell == 1 ? ' tỷ VNĐ' : ' triệu VNĐ') }}</span>
                    <span> - </span>
                    <span class="font-semibold text-blue-custom">{{ rep?.area + ' m2' }}</span>
                </div>
                <div class="flex flex-row justify-between items-center">
                    <div class="font-light text-sm">{{ rep?.createAt | date:'dd/MM/yyyy, hh:mm:ss a' }}</div>
                    <div class="p-2 border border-b-custom rounded-lg" pTooltip="Quan tâm" (click)="onInterest(rep)">
                        <i class="pi" [ngClass]="rep?.interested ? 'text-blue-custom pi-heart-fill' : 'pi-heart'"></i>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>