<div class="w-full flex flex-col space-y-4">
    <div class="w-full flex flex-row justify-between items-center px-2 py-2 border border-gray-custom rounded-lg shadow-lg mt-6 md:mt-4">
        <span>Nhận thông báo trên thiết bị: </span>
        <p-inputSwitch [(ngModel)]="userDeviceToken.enable" (ngModelChange)="updateUserDeviceToken()"></p-inputSwitch>
    </div>
    <div class="w-full flex flex-row justify-between items-center px-2 py-2 border border-gray-custom rounded-lg shadow-lg" *ngIf="isUser">
        <span>Bật thông báo biến động giá: </span>
        <p-inputSwitch [(ngModel)]="pfEnable" [disabled]="!isRegistered"
            (ngModelChange)="updatePriceFluctuationEnable()"></p-inputSwitch>
    </div>
    <div class="w-full flex flex-row justify-between items-center px-2 py-2 border border-gray-custom rounded-lg shadow-lg" *ngIf="isSpecialAccount">
        <span>Nhận thông báo đến hạn đóng phí hàng tháng trước: </span>
        <p-dropdown [(ngModel)]="specialAccount.notifyBefore" 
            [options]="lstNotifyBefore" optionLabel="value" optionValue="key"
            (ngModelChange)="updateSpecialAccount()"></p-dropdown>
    </div>
    <div class="flex flex-col space-y-4 w-full" *ngIf="isAdmin">
        <div class="w-full flex flex-row justify-between items-center px-2 py-3 border border-gray-custom rounded-lg shadow-lg">
            <span>{{ 'Ẩn bài viết hết hạn' }}</span>
            <div class="flex justify-end w-1/2">
                <p-tag severity="success" value="Đang hoạt động"></p-tag>
            </div>
        </div>
        <div class="w-full flex flex-row justify-between items-center px-2 py-3 border border-gray-custom rounded-lg shadow-lg">
            <span>{{ 'Thông báo tài khoản doanh nghiệp mới tạo cần đóng phí' }}</span>
            <div class="flex justify-end w-1/2">
                <p-tag severity="success" value="Đang hoạt động"></p-tag>
            </div>
        </div>
        <div class="w-full flex flex-row justify-between items-center px-2 py-3 border border-gray-custom rounded-lg shadow-lg">
            <span>{{ 'Thông báo cho môi giới/doanh nghiệp đến hạn đóng phí' }}</span>
            <div class="flex justify-end w-1/2">
                <p-tag severity="success" value="Đang hoạt động"></p-tag>
            </div>
        </div>
        <div class="w-full flex flex-row justify-between items-center px-2 py-3 border border-gray-custom rounded-lg shadow-lg">
            <span>{{ 'Tính toán dữ liệu trung bình hàng ngày' }}</span>
            <div class="flex justify-end w-1/2">
                <p-tag severity="success" value="Đang hoạt động"></p-tag>
            </div>
        </div>
    </div>
</div>