<p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
<div class="absolute w-full h-full">
    <p-sidebar [(visible)]="sidebarVisible" [modal]="sidebarModal()" [showCloseIcon]="sidebarModal()"
        styleClass="w-16rem" [baseZIndex]="sidebarModal() ? 51 : 49">
        <ng-template pTemplate="header">
            <!-- <img src="/assets/logo/logo_main.svg" class="h-12 cursor-pointer" (click)="navigatePage('/home')"
                *ngIf="sidebarVisible"> -->
        </ng-template>
        <ng-template pTemplate="content">
            <div class="w-full flex flex-col mb-4 space-y-2" *ngFor="let item of sidebarItems">
                <div class="w-full flex flex-row space-x-4 items-center cursor-pointer" (click)="navigatePage(item.routerLink)">
                    <i [ngClass]="item.icon"></i>
                    <span class="font-semibold">{{ item.label }}</span>
                </div>
                <div *ngFor="let it of item.items" class="ml-8 cursor-pointer" (click)="navigatePage(item.routerLink)">
                    <span class="font-medium">{{ it.label }}</span>
                </div>
            </div>
        </ng-template>
    </p-sidebar>
    <div class="w-full h-16 fixed flex flex-row z-50">
        <p-menubar [model]="items" class="bg-white w-full">
            <ng-template pTemplate="start">
                <div class="flex flex-row">
                    <p-button icon="pi pi-ellipsis-v" styleClass="p-button-text" *ngIf="enableSideBar()"
                        pRipple (click)="sidebarVisible = true"></p-button>
                    <img src="/assets/logo/logo_main.svg" class="w-20 h-full cursor-pointer"
                        (click)="navigatePage('/home')">
                </div>
            </ng-template>
            <ng-template pTemplate="end">
                <p-avatar [image]="avatarUrl" shape="circle" class="cursor-pointer"
                    (click)="menu.toggle($event)"></p-avatar>
            </ng-template>
        </p-menubar>
    </div>
    <!-- <div class="w-64 fixed mt-16 h-[calc(100%-4rem)] bg-white border-r-2">

    </div> -->
    <div class="w-full mt-16 lg:ml-64 lg:mt-16 lg:w-[calc(100%-16rem)]">
        <div class="w-full px-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<p-dialog header="Mật khẩu mới" [(visible)]="displayChangePassword" [style]="{width: innerWidth <= 640 ? '100vw' : '30vw'}" 
    [baseZIndex]="100" [modal]="true">
    <div class="flex flex-col space-y-4 p-4">
        <div>
            <span class="italic">{{ 'Mã OTP đã được gửi về tài khoản email ' + emailVerify}}</span>
            <label for="verifyOTP" class="text-sm">Nhập OTP</label>
            <input id="verifyOTP" pInputText class="w-full" [(ngModel)]="verifyOTP"
                placeholder="Nhập mã OTP được gửi về email" [autofocus]="true" ria-describedby="valid-otp"
                [ngClass]="verifyOTP.length <= 0 ? 'ng-invalid ng-dirty' : ''">
            <small id="valid-otp" *ngIf="!validOTP()" class="text-red-500">Mã OTP không chính xác</small>
        </div>
        <div class="flex flex-col w-full">
            <label for="newPassword" class="text-sm">Mật khẩu mới</label>
            <p-password id="newPassword" placeholder="Nhập mật khẩu mới" [toggleMask]="true"
                inputStyleClass="block w-full p-3 md:w-30rem" [style]="{'width':'100%'}"
                [ngClass]="newPassword.length <= 0 ? 'ng-invalid ng-dirty' : ''"
                [inputStyle]="{'width':'100%'}" [(ngModel)]="newPassword"></p-password>
        </div>
        <div class="flex flex-col w-full">
            <label for="newPasswordAgain" class="text-sm">Nhập lại mật khẩu</label>
            <p-password id="newPasswordAgain" placeholder="Nhập lại mật khẩu" [toggleMask]="true"
                inputStyleClass="block w-full p-3 md:w-30rem" [style]="{'width':'100%'}"
                ria-describedby="valid-password"
                [ngClass]="newPasswordAgain.length <= 0 ? 'ng-invalid ng-dirty' : ''"
                [inputStyle]="{'width':'100%'}" [(ngModel)]="newPasswordAgain"></p-password>
            <small id="valid-password" *ngIf="validPassword()" class="text-red-500">Mật khẩu không giống nhau</small>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="changePassword()" [disabled]="validChangePassword()" label="Đổi mật khẩu" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>