<div class="w-full flex flex-col space-y-6 mt-4 lg:px-6">
    <div class="flex flex-row space-x-4 items-center">
        <button pButton pRipple pTooltip="Quay lại" class="p-button-text p-button-rounded p-button-secondary"
            icon="pi pi-chevron-left" (click)="goBack()"></button>
        <span class="font-bold text-lg">{{ 'Thông tin chi tiết bài viết' }}</span>
    </div>
    <div class="w-full flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-4">
        <app-rep-detail class="w-full md:w-3/4" [postId]="postId" [increaseView]="false"></app-rep-detail>
        <div class="w-full md:w-1/4 flex flex-col border border-b-custom py-4 px-2 space-y-2 h-fit rounded-md items-center">
            <p-avatar [image]="contact?.avatarUrl" shape="circle"></p-avatar>
            <span class="text-sm font-light">{{ 'Thông tin liên hệ' }}</span>
            <span class="font-bold">{{ contact?.fullName }}</span>
            <div class="p-2 flex flex-row justify-between items-center bg-blue-custom rounded-md w-full">
                <span class="text-white">{{ contact?.phoneNumber }}</span>
                <i class="pi pi-copy text-white cursor-pointer" pTooltip="Sao chép" (click)="copyFunc()"></i>
            </div>
        </div>
    </div>
</div>