<div class="w-full flex flex-col px-4 lg:px-6 space-y-6">
    <div class="flex flex-row w-full justify-between items-center mt-4">
        <span class="font-bold text-2xl">Danh sách bài đăng đã tạo</span>
        <button pButton class="p-button-success" icon="pi pi-plus" label="Tạo bài đăng" (click)="createPost()"></button>
    </div>
    <div class="w-full flex flex-col space-y-4">
        <div class="" *ngIf="realEstatePosts.length > 0; else emptyREPs">
            <div class="flex flex-col w-full border border-gray-custom cursor-pointer px-2 py-2 rounded-lg" 
                *ngFor="let item of realEstatePosts" (click)="redirectToPost(item.id)">
                <div class="w-full flex flex-col md:flex-row md:items-center justify-between">
                    <span class="font-bold text-lg">{{ item.title }}</span>
                    <span>{{ item.sell ? 'Bán' : 'Cho thuê' }}</span>
                    <span class="text-sm">{{ genPrice(item) }}</span>
                </div>
                <div class="w-full flex flex-row items-center justify-between">
                    <span class="text-sm">{{ genDesc(item.description) }}</span>
                    <p-tag [value]="getStatusValue(item.status)" [severity]="getStatusSeverity(item.status)"></p-tag>
                </div>
            </div>
        </div>
        <ng-template #emptyREPs>
            <span class="italic">Bạn chưa có bài đăng nào.</span>
        </ng-template>
    </div>
</div>