<div class="w-full mt-6 md:mt-4 flex items-center justify-center pb-6 md:pb-4">
    <div class="w-full lg:w-[50vw] flex flex-col space-y-6 items-center" id="my-container">
        <span class="text-2xl font-bold">{{ title }}</span>
        <div *ngFor="let item of currRealEstatePosts" class="w-full">
            <app-client-view class="w-full" [rep]="item" [sell]="sell" (onView)="viewDetail($event)"></app-client-view>
        </div>
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="10" [totalRecords]="totalRecords" [pageLinkSize]="2" [showFirstLastIcon]="false"></p-paginator>
        <div class="w-full flex flex-col space-y-4">
            <span class="text-2xl font-bold">{{ 'Dự án nổi bật' }}</span>
            <hr class="w-full" width="1" color="#ced4da">
            <app-info-post-carousel [type]="duAnType" [items]="3"></app-info-post-carousel>
            <div class="w-full flex items-center justify-center">
                <div class="p-3 border border-b-custom rounded-md hover:border-blue-custom w-fit cursor-pointer" 
                    (click)="navigateToDuAn()">
                    <span class="text-blue-custom">{{ 'Xem thêm' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>